<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE Tech Blog</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">🐷 G.Piggy Fin-Blog </a></h1>
      <img src="/goldenpiggy/public/assets/dfsdf.jpg">
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    
      
    </main>
    <footer>
      🌱Share your Finance-idea for a better future!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script> 
  {{/if}}
</body>

</html>