th {
  color:rgb(248, 174, 104);
  text-align: center;
}

td{
  color: white;
}
.text-light {
  color: yellow!important;
}

.btn-outline-success {
  color: yellow;
  border-color: #198753;
  border-radius: initial;
}

th#price {
  color: red !important;
}

th#symbol {
  color:yellow;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: antiquewhite;
}

.cryptoBody{
  background-color: black;

}