@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Satisfy&display=swap');


* {
    box-sizing: border-box;
    text-align: center;
}


  
div.title {
    background-color:#050505;
    height: 70px;
}

div.meta {
    background-color: rgb(240, 125, 10);
    height: 60px;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lobster Two', cursive;
    color: rgb(247, 242, 242);
}
  
.wrapper {
    background-image: url("https://source.unsplash.com/2300x2300/?peach");
}
a {
    text-decoration: none;
    margin-top: 3%;
    padding-top: 5%;
    font-size: 28px;
    text-align: justify;
    color: #04e9a4;
    font-weight: bold;
    transition: color .1s;
    
}
  
a:hover {
    color: #719b0f;
}
  
button {
    background-color: #f8f407;
    border: 0;
    padding: 1%;
    color: rgb(66, 4, 4);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 25px;
}
  
button:hover {
    background-color: #3486eb;
}
  
.post-list {
    margin: 0;
    padding: 0;
}
  
textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 2%;
}
  
form label {
    display: block;
    font-size: 25px;
    color:rgb(240, 54, 110);
    text-shadow: 2px 2px 5px rgba(5, 252, 190, 0.404);
    padding-bottom: 3%;
    
 }
  
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #313b0360;
}
  
header h1 {
    font-size: 50px;
}  
 
main {
    flex: 1;
    padding: 3% 4%;
}
  
.btn-no-style {
    background: none;
    border: none;
    padding: 10;
    cursor: pointer;
    text-decoration: none;
    color: #e92ca1;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
  
.btn-no-style:hover {
    background: none;
    color: #10fdd6;
}
  
.delete-post-btn {
    background-color: #d41414;
}
  
.delete-post-btn:hover {
    background-color: #ff643d;
}
  
.post {
    margin-bottom: 2%;
    line-height: 150%;
}
  
.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}
  
.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}
  
.comment-form {
    margin-bottom: 5%;
}
  
.comment {
    padding: 1%;
    margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
    background-color: #fff5eb;
}
  
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}
  
.new-post-form input {
    width: 300px;
}
  
.edit-post-form {
    margin-bottom: 5%;
}
  
footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #27013096;
    color: white;
}

h2 {
    color: rgb(53, 182, 41);
    text-shadow: 2px 2px 5px rgba(216, 8, 243, 0.548);
}
span{
    color:rgb(37, 37, 34);
    text-shadow: 2px 2px 5px rgb(252, 252, 5);
    padding-bottom: 3%;
}

div {
    background-color: rgba(245, 222, 179, 0.247);
}
a.edit-link {
    font-size: 25px;
    color:rgb(25, 136, 136);
    text-shadow: 2px 2px 5px rgb(245, 245, 239);
}

