   <style>
    th { font-size: 15px;}
    td{ font-size: 15px; }

  </style>
 
 
 <div class="cryptoBody">

  <table class="table table-bordered" style="margin-top: 90px" >
    <thead>
      <tr>
        <!-- <th scope="col">UUID</th> -->
        <!-- <th scope="col" id="price">Btc Price</th> -->
        <th scope="col" id="symbol">Symbol</th>
        <th scope="col">Rank</th>
        <th scope="col">Tier</th>
        <th scope="col">Name</th>
        <th scope="col" id="price">Btc Price</th>
        <th scope="col">Price</th>
        

      </tr>
    </thead>
    <tbody id="data">
    </tbody>
  </table>
  </div>
  <script src="./javascript/cryptoapp.js"></script>