<section>
  <h2>Create New Post</h2>

  

  <style>
    main{background-color: black;}
    div{background-color: rgba(8, 8, 8, 0.993);}
    span{color: white;}
    h2{ color: rgba(209, 195, 149, 0.979); font-size: 15px;}
    div.meta{text-align: left;}    
    a { text-decoration: none; color:rgb(224, 195, 173);}
    form label {color:cyan;}
    a.edit-link {font-size: 12px;   color: rgb(240, 233, 233);     text-align: left;}
    button.btn { color:black; background-color: rgba(233, 41, 16, 0.514); border-style: solid; border-color: chocolate;}
  
  </style>


  <form class="new-post-form">

    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title"/>
    </div>

    <br>

    <div>
      <label for="post-content">Post Content</label>
      <textarea name="post-content"></textarea>
    </div>

    {{!-- <div>
      <img src="" id="myImg" width="" height= "">
    </div> --}}

    {{!-- <form class="form" id="myForm">
    
      <input type="file" name="inpFile" id="inpFile">
      <button onclick="doupload()" name="submit">Upload File</button>
    </form>

    <br>  --}}


    <button type="submit" class="btn" id="uploadbtn">Create</button>

  </form>

</section>



{{#if posts.length}}
<section>
  <h2>My Previous Posts Management</h2>

  <ol>
    {{#each posts as |post|}}

    <li>
      {{> post-info post}}
      <button type="submit" class="btn" ><a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a></button>
    </li>

    {{/each}}
  </ol>
  
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>

<!--<script>
let photo = document.getElementById("inpFile").files[0];
let formData = new FormData();
     
formData.append("photo", photo);
fetch('/upload/image', {method: "POST", body: formData});
</script>