  <style>
    a {text-decoration: none; font-size: 15px; color:rgb(60, 229, 241);} 
    div#date.meta { font-size: 15px; text-align:center;}
    footer {font-size: 15px;}
    
  </style>


<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info-homepage post }}
  </li>
  {{/each}}
</ol>