<style>

  button#Login { font-size: 15px; border-radius: 10px 10px 10px 10px;}
  form.login-form { background-color: rgba(85, 107, 47, 0.726); }
  form.signup-form {    background-color: rgba(85, 107, 47, 0.726);}
  button#Signup { font-size: 15px; border-radius: 10px 10px 10px 10px;}
  main { background-color: rgba(85, 107, 47, 0.726);}
  input#email-login {font-size: 20px;}
  input#password-login {font-size: 20px;}
</style>

<form class="login-form">
  <div>
    <label for="email-login" id="Email">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login" id="Password">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="Login">Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup" id="Username">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" id="Email">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" id="Password">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" id="Signup">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>